/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "PT Sans";
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  background-color: #F3F3F3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-btn {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  background-color: #6EB45C;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.2s;
}
.c-btn:hover, .c-btn:focus {
  background-color: #0C9C2C;
  color: #fff;
}

.buttonRed, .buttonGreen, .buttonGrey {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: 0.4em;
  transition: background-color 0.2s;
  width: 90%;
  height: 2em;
  line-height: 2em;
  font-family: "PT Sans";
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.centerText {
  text-align: center;
}

.leftalignText {
  text-align: left;
}

.align-items-left {
  align-items: flex-start;
}

.rightalignText {
  text-align: right;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.height-100 {
  height: 100%;
}

.height-100 label {
  font-size: 32px;
}

.height-100 input {
  width: 70%;
  margin: 1em;
  padding: 0.5em 0.5em;
  border-radius: 0.4em;
  background-color: #EBEBEB;
  font-size: 16px;
}

.visibleHidden {
  visibility: hidden;
}

.flexGrow1 {
  flex-grow: 1;
}

.padding-top-50 {
  padding-top: 50%;
}

.padding-bottom-10 {
  padding-bottom: 10%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}

.padding-left-10 {
  padding-left: 10%;
}

.padding-right-10 {
  padding-right: 10%;
}

.margin-bottom-5 {
  margin-bottom: 5%;
}

.button-font-size {
  font-size: 50px;
}

.buttonGrey {
  background-color: #C1D4DF;
  font-size: 50px;
}
.buttonGrey:hover, .buttonGrey:focus {
  background-color: #90A2AD;
  color: black;
}

.buttonGreen {
  background-color: #6EB45C;
  font-size: 50px;
}
.buttonGreen:hover, .buttonGreen:focus {
  background-color: #0C9C2C;
  color: black;
}

.buttonRed {
  background-color: #BF5454;
  font-size: 32px;
}
.buttonRed:hover, .buttonRed:focus {
  background-color: #903636;
  color: black;
}

.smallButton {
  font-size: 32px;
  height: 2.7em;
  line-height: 2.7em;
}

.header {
  background: linear-gradient(to bottom, #087F23 25%, #0C9C2C 25%);
  height: 11%;
  padding-top: 6%;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.headerimg {
  height: 80%;
  width: auto;
}

.greentext {
  color: #6EB45C;
}

.dark-greytext {
  color: #90A2AD;
}

.infoBox h1 {
  font-weight: bold;
  font-size: 32px;
}

.h1 {
  font-weight: bold;
  font-size: 32px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 24px;
}

.p {
  font-size: 16px;
}

.infoBoxBikes {
  overflow: scroll;
  height: 90%;
  justify-content: flex-start;
  gap: 2%;
  box-sizing: border-box;
}

.infoBoxWhite {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  padding: 0% 12%;
}

.infoBoxBike {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  padding: 5% 5%;
  width: 70%;
  box-sizing: border-box;
}

.infoBoxBike, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.hoverButton {
  position: fixed;
  top: 85%;
}

.bikeDetails {
  padding-top: 10%;
  padding-bottom: 40%;
}

.cardLabel label {
  font-size: 16px;
}

.accountBox {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  width: 70%;
  padding: 2% 5%;
}

.deleteAccount {
  width: 65%;
}

/*# sourceMappingURL=main.css.map */
