/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "PT Sans";
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  background-color: #F3F3F3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.c-btn {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  background-color: #6EB45C;
  color: #fff;
  border-radius: 3px;
  transition: background-color 0.2s;
}
.c-btn:hover, .c-btn:focus {
  background-color: #0C9C2C;
  color: #fff;
}

.buttonRed, .buttonGreen, .buttonGrey {
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  border-radius: 0.4em;
  transition: background-color 0.2s;
  width: 90%;
  height: 2em;
  line-height: 2em;
  font-family: "PT Sans";
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.centerText {
  text-align: center;
}

.leftalignText {
  text-align: left;
}

.align-items-left {
  align-items: flex-start;
}

.rightalignText {
  text-align: right;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.height-100 {
  height: 100%;
}

.height-100 label {
  font-size: 32px;
}

.height-100 input {
  width: 70%;
  margin: 1em;
  padding: 0.5em 0.5em;
  border-radius: 0.4em;
  background-color: #EBEBEB;
  font-size: 16px;
}

.visibleHidden {
  visibility: hidden;
}

.flexGrow1 {
  flex-grow: 1;
}

.padding-top-50 {
  padding-top: 50%;
}

.padding-bottom-10 {
  padding-bottom: 10%;
}

.padding-bottom-5 {
  padding-bottom: 5%;
}

.padding-left-10 {
  padding-left: 10%;
}

.padding-right-10 {
  padding-right: 10%;
}

.margin-bottom-5 {
  margin-bottom: 5%;
}

.margin-bottom-10 {
  margin-bottom: 10%;
}

.margin-bottom-20 {
  margin-bottom: 20%;
}

.button-font-size {
  font-size: 50px;
}

.buttonGrey {
  background-color: #C1D4DF;
  font-size: 50px;
}
.buttonGrey:hover, .buttonGrey:focus {
  background-color: #90A2AD;
  color: black;
}

.buttonGreen {
  background-color: #6EB45C;
  font-size: 50px;
}
.buttonGreen:hover, .buttonGreen:focus {
  background-color: #0C9C2C;
  color: black;
}

.buttonRed {
  background-color: #BF5454;
  font-size: 32px;
}
.buttonRed:hover, .buttonRed:focus {
  background-color: #903636;
  color: black;
}

.smallButton {
  font-size: 32px;
  height: 2.7em;
  line-height: 2.7em;
}

.header {
  background: linear-gradient(to bottom, #087F23 25%, #0C9C2C 25%);
  position: fixed;
  height: 11%;
  padding-top: 6%;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.margin-top-header {
  margin-top: 25%;
}

.headerimg {
  height: 80%;
  width: auto;
}

.greentext {
  color: #6EB45C;
}

.dark-greytext {
  color: #90A2AD;
}

.infoBox h1 {
  font-weight: bold;
  font-size: 32px;
}

.h1 {
  font-weight: bold;
  font-size: 32px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 24px;
}

.p {
  font-size: 16px;
}

.bikeSection {
  height: 50%;
}

.infoBoxBikes {
  gap: 2%;
  box-sizing: border-box;
}

.infoBoxWhite {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  padding: 0% 12%;
}

.infoBoxWhiteHasBike {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  padding: 0% 12%;
}

.infoBoxBike {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  padding: 5% 5%;
  margin: 1% 0%;
  width: 80%;
  box-sizing: border-box;
}

.infoBoxBike, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.hoverButton {
  position: fixed;
  top: 85%;
}

.bikeDetails {
  padding-top: 10%;
  padding-bottom: 10%;
}

.cardLabel label {
  font-size: 16px;
}

.accountWrapper {
  margin-top: 30%;
}

.accountDetails {
  margin-bottom: 10%;
}

.accountDetails .h3 {
  margin-bottom: 3%;
}

.accountBox {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  width: 80%;
  padding: 5% 5%;
}

.deleteAccount {
  width: 65%;
}

.padding-top {
  padding-top: 10%;
}

.margin-bottom {
  margin-bottom: 10%;
}

.infoBoxWhitexDeleteAccount {
  border-radius: 0.4em;
  background-color: white;
  text-align: center;
  margin-top: 2%;
  padding: 3% 12%;
}

.margin-bottom-button {
  margin-bottom: 5%;
}

.margin-top-header-help {
  margin-top: 35%;
}

.bikeimg {
  display: none;
}

.customerImg {
  display: none;
}

.paymentMargin {
  margin-top: 10%;
}

.margin-welcome {
  margin-top: 20%;
}

.infoboxH1 {
  margin-bottom: 2%;
}

.bikeDetails .greentext {
  margin-bottom: 20%;
}

@media only screen and (max-width: 768px) {
  .h2 {
    font-size: 21.3333333333px;
  }

  .infoBoxBikes {
    justify-content: flex-start;
  }

  .bikeSection {
    margin-bottom: 40%;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    height: 7%;
    padding-top: 2%;
  }

  .height-100 input {
    width: 40%;
    margin: 1em 0em;
    padding: 0.5em 0.5em;
    border-radius: 0.4em;
    background-color: #EBEBEB;
    font-size: 16px;
  }

  .margin-top-header {
    margin-top: 12%;
  }

  .margin-top-header .p {
    font-size: 24px;
  }

  .profilelogo {
    height: 50px;
  }

  .infoBoxWhite {
    border-radius: 0.4em;
    background-color: white;
    text-align: center;
    padding: 0% 5%;
  }

  .infoboxH1 {
    margin-bottom: 2%;
  }

  .padding-code {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .infoBoxWhiteHasBike {
    border-radius: 0.4em;
    background-color: white;
    text-align: center;
    padding: 0% 5%;
  }

  .bikeDetails {
    height: 20%;
  }

  .bikeDetails .greentext {
    margin-bottom: 24%;
  }

  .accountWrapper {
    margin-top: 10%;
  }

  .accountWrapper .p {
    font-size: 24px;
  }

  .margin-bottom {
    margin-bottom: 3%;
  }

  .accountDetails {
    margin-bottom: 5%;
  }

  .accountBox {
    border-radius: 0.4em;
    background-color: white;
    text-align: center;
    width: 60%;
    padding: 2% 5%;
  }

  .infoBoxWhitexDeleteAccount {
    border-radius: 0.4em;
    background-color: white;
    text-align: center;
    padding: 3% 5%;
  }

  .margin-bottom-button {
    margin-bottom: 2%;
  }

  .smallButton {
    font-size: 32px;
    height: 3.2em;
    line-height: 3.2em;
  }

  .margin-top-header-help {
    margin-top: 15%;
  }

  .margin-top-header-help .p {
    font-size: 24px;
  }

  .paymentMargin {
    margin-top: 3%;
  }
}
@media only screen and (min-width: 1280px) {
  .index-button {
    width: 30%;
    margin-bottom: 1%;
  }

  .index-button2 {
    width: 30%;
    margin-bottom: 3%;
  }

  .headerarrow {
    visibility: hidden;
  }

  .header {
    height: 10%;
    padding-top: 1.7%;
  }

  .height-100 input {
    width: 20%;
    margin: 1em 0em;
    padding: 0.5em 0.5em;
    border-radius: 0.4em;
    background-color: #EBEBEB;
    font-size: 16px;
  }

  .accountWrapper {
    margin-top: 5%;
  }

  .profilelogo {
    height: 70px;
  }

  .headerimg {
    height: 65px;
  }

  .margin-top-header {
    margin-top: 10%;
  }

  .infoBoxBikes {
    gap: 1%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
  }

  .infoBoxWhiteHasBike {
    padding: 0% 5%;
  }

  .infoBoxBike {
    padding: 2% 2%;
    width: 30%;
  }

  .bikeDetails .greentext {
    margin-bottom: 15%;
  }

  .padding-code {
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .margin-rental {
    margin-top: 10%;
    padding-bottom: 4%;
  }

  .margin-welcome {
    margin-top: 5%;
    padding-bottom: 0%;
    margin-bottom: 2%;
  }

  .margin-return {
    padding-bottom: 0%;
    margin-bottom: 1%;
  }

  .accountBox {
    width: 40%;
    padding: 1% 2%;
  }

  .accountDetails {
    margin-bottom: 5%;
  }

  .margin-top-header-help {
    margin-top: 10%;
  }

  .margin-help {
    margin-bottom: 1%;
  }

  .ContactusImg {
    width: 100%;
  }

  .contactUsWrapper {
    margin-bottom: auto;
  }

  .customerImg {
    display: block;
    height: 350px;
  }

  .infoBoxWhitexDeleteAccount {
    width: 50%;
  }

  .paymentMargin {
    margin-top: 2%;
  }

  .welcome-text {
    padding: 0% 30%;
  }

  .accountDetails .h3 {
    margin-bottom: 2%;
  }

  .padding-top {
    padding-top: 5%;
  }
}
@media only screen and (min-width: 1440px) {
  .bikeimg {
    display: block;
    height: 250px;
  }

  .accountDetails .h3 {
    margin-bottom: 2%;
  }

  .padding-top {
    padding-top: 5%;
  }
}
@media only screen and (min-width: 1920px) {
  .customerImg {
    height: 500px;
  }

  .padding-top {
    padding-top: 5%;
  }
}

/*# sourceMappingURL=main.css.map */
