.c-btn {
    display: inline-block;
    padding: (0.5 * $base-spacing-unit) $base-spacing-unit;
    text-decoration: none;
    background-color: $color-btn;
    color: #fff;
    border-radius: $base-radius;
    transition: background-color 0.2s;

    &:hover,
    &:focus {
        background-color: $color-btn-hover;
        color: #fff;
    }

}

%btn {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: $button-radius;
    transition: background-color 0.2s;
    width: 90%;
    height: 2em;
    line-height: 2em;
    margin-bottom: 0.5em; 
    font-family: $base-font;   
}

