@mixin createButton($maincolor,  $hovercolor, $fontsize){
    
    @extend %btn;
    background-color: $maincolor;
    font-size: $fontsize;

    &:hover,
    &:focus {
        background-color: $hovercolor;
        color: #fff;
    }
}