@import "settings.global";
@import "settings.colors";
@import "generic.reset";
@import "tools.mixins";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import "components.buttons";

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center
}

.centerText {
    text-align: center;
}

.leftalignText {
    text-align: left;
}

.align-items-left {
    align-items: flex-start;
}

.rightalignText {
    text-align: right;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.height-100 {
    height: 100%;
}

.height-100 label {
    font-size: $label-font-size;
} 

.height-100 input {
    width: 70%;
    margin: 1em;
    padding: 0.5em 0.5em;
    border-radius: $button-radius;
    background-color: $color-background-darker;
    font-size: $base-font-size;
}

.visibleHidden {
    visibility: hidden;
}

.flexGrow1 {
    flex-grow: 1;
}

.padding-top-50 {
    padding-top: 50%;
}

.padding-bottom-10 {
    padding-bottom: 10%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.padding-left-10 {
    padding-left: 10%;
}

.padding-right-10 {
    padding-right: 10%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}
.margin-bottom-20 {
    margin-bottom: 20%;
}

.button-font-size {
    font-size: $button-font-size;
}

.buttonGrey {
    @include createButton($color-secondary, $color-secondary-shadow, $button-font-size);
}

.buttonGreen {
    @include createButton($color-brand, $color-brand-shadow, $button-font-size);
}

.buttonRed {
    @include createButton($color-warning, $color-warning-shadow, $label-font-size);
}


.smallButton {
    font-size: $label-font-size; 
    height: 2.7em;
    line-height: 2.7em;
}

.header {
    background: linear-gradient(to bottom, $color-brand-darkest 25%, $color-brand-shadow 25%);
    position: fixed;
    height: 11%;
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

.margin-top-header {
    margin-top: 25%;
}

.profilelogo{
}

//Spørg flyv om hjælp
.headerimg {
    height: 80%;
    width: auto; 
}

.headerarrow {

}

.greentext{
    color: $color-brand
}

.dark-greytext {
    color: $color-secondary-shadow;
}

.infoBox h1{
    font-weight: bold;
    font-size: $label-font-size
}

.h1 {
    font-weight: bold;
    font-size: $label-font-size
}

.h2 {
    font-size: $label-font-size

}

.h3 {
    font-size: $medium-font-size
}

.p {
    font-size: $base-font-size;
}

.infoBoxBikes {
    height: 90%;
    //padding-top: 5%;
    justify-content: flex-start;
    gap: 2%;
    box-sizing: border-box;
}

.infoBoxWhite {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    padding: 0% 12%;   
}

.infoBoxWhiteHasBike {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    padding: 0% 12%;   
}

.infoBoxBike {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    padding: 5% 5%; 
    width: 70%;
    box-sizing: border-box;
}

.infoBoxBike, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.scrollbox {

}

.hoverButton {
    position: fixed;
    top: 85%;
}

.bikeDetails {
    padding-top: 10%;
    padding-bottom: 40%;
}

.cardLabel label{
    font-size: $base-font-size;
}

.accountWrapper {
    margin-top: 30%;
}

.accountDetails {
    margin-bottom: 10%;
}

.accountBox {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    width: 70%;
    padding: 2% 5%;

}

.deleteAccount {
    width: 65%;
}

.margin-bottom {
    margin-bottom: 10%;
}

.infoBoxWhitexDeleteAccount {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    margin-top: 2%;
    padding: 3% 12%;   
}

.margin-bottom-button {
    margin-bottom: 5%;
}

.margin-top-header-help {
    margin-top: 35%;
}

.bikeimg {
    display: none;
}

@media only screen and (min-width: 768px) {
    .header {
        height: 7%;
        padding-top: 2%;    
    }

    .height-100 input {
        width: 40%;
        margin: 1em 0em;
        padding: 0.5em 0.5em;
        border-radius: $button-radius;
        background-color: $color-background-darker;
        font-size: $base-font-size;
    }

    .margin-top-header {
        margin-top: 12%;
    }

    .margin-top-header .p  {
        font-size: $medium-font-size;
    }
    
    .profilelogo{
        height: 50px;
    }

    .infoBoxWhite {
        border-radius: $button-radius;
        background-color: white;
        text-align: center;
        height: 26%;
        padding: 0% 5%;   
    }

    .infoboxH1 {
        margin-bottom: 2%;
    }

    .padding-code {
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .infoBoxWhiteHasBike {
        border-radius: $button-radius;
        background-color: white;
        text-align: center;
        height: 40%;
        padding: 0% 5%;  
    }

    .bikeDetails {
        height: 60%;
    }

    .accountWrapper {
        margin-top: 10%;
    }

    .accountWrapper .p{
        font-size: $medium-font-size;
    }

    .margin-bottom {
        margin-bottom: 3%;
    } 
    
    .accountDetails {
        margin-bottom: 5%;
    }
    
    .accountBox {
        border-radius: $button-radius;
        background-color: white;
        text-align: center;
        width: 60%;
        padding: 2% 5%;
    }

    .infoBoxWhitexDeleteAccount {
        border-radius: $button-radius;
        background-color: white;
        text-align: center;
        height: 25%;
        padding: 3% 5%;   
    }

    .margin-bottom-button {
        margin-bottom: 2%;
    }

    .smallButton {
        font-size: $label-font-size; 
        height: 3.2em;
        line-height: 3.2em;
    }

    .margin-top-header-help {
        margin-top: 15%;
    }

    .margin-top-header-help .p  {
        font-size: $medium-font-size;
    }
}

@media only screen and (min-width: 1440px) {

    .index-button {
        width: 30%;
        margin-bottom: 1%;
    }

    .index-button2 {
        width: 30%;
        margin-bottom: 3%;
    }

    .headerarrow {
        visibility: hidden;
    }

    .header {
        height: 10%;
        padding-top: 1.7%;
    }

    .height-100 input {
        width: 20%;
        margin: 1em 0em;
        padding: 0.5em 0.5em;
        border-radius: $button-radius;
        background-color: $color-background-darker;
        font-size: $base-font-size;
    }

    .profilelogo {
        height: 70px;
    }

    .headerimg {
        height: 65px;
    }

    .margin-top-header {
        margin-top: 10%;
    }

    .infoBoxBikes {
        gap: 1%;
        flex-wrap: wrap;
        height: 50%;
        align-content: center;
    }

    .infoBoxBike {
        padding: 2% 2%;
        width: 30%;
    }

    .bikeimg {
        display: block;
        height: 300px;
        margin-bottom: 11%;
    }

    .infoboxWithImg {
        width: 30%;
        height: 65%;
    }

    .bikeDetails .greentext {
        margin-bottom: 5%;
    }

    .padding-code {
        margin-top: 1%;
        margin-bottom: 3%;
    }

    .margin-rental {
        margin-top: 10%;
        padding-bottom: 4%;
    }

    .margin-welcome {
        margin-top: 5%;
    }

    .margin-return {
        padding-bottom: 0%;
        margin-bottom: 1%;
    }
}