@import "settings.global";
@import "settings.colors";
@import "generic.reset";
@import "tools.mixins";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import "components.buttons";

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.justifyCenter {
    justify-content: center
}

.centerText {
    text-align: center;
}

.leftalignText {
    text-align: left;
}

.align-items-left {
    align-items: flex-start;
}

.rightalignText {
    text-align: right;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.height-100 {
    height: 100%;
}

.height-100 label {
    font-size: $label-font-size;
}

.height-100 input {
    width: 70%;
    margin: 1em;
    padding: 0.5em 0.5em;
    border-radius: $button-radius;
    background-color: $color-background-darker;
    font-size: $base-font-size;
}

.visibleHidden {
    visibility: hidden;
}

.flexGrow1 {
    flex-grow: 1;
}

.padding-bottom-10 {
    padding-bottom: 10%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.padding-left-10 {
    padding-left: 10%;
}

.padding-right-10 {
    padding-right: 10%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.button-font-size {
    font-size: $button-font-size;
}

.buttonGrey {
    @include createButton($color-secondary, $color-secondary-shadow, $button-font-size);
}

.buttonGreen {
    @include createButton($color-brand, $color-brand-shadow, $button-font-size);
}

.buttonRed {
    @include createButton($color-warning, $color-warning-shadow, $label-font-size);
}


.smallButton {
    font-size: $label-font-size; 
    height: 2.7em;
    line-height: 2.7em;
}

.header {
    background: linear-gradient(to bottom, $color-brand-darkest 25%, $color-brand-shadow 25%);
    height: 11%;
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}

.profilelogo{
}

//Spørg flyv om hjælp
.headerimg {
    height: 80%;
    width: auto; 
}

.headerarrow {

}

.greentext{
    color: $color-brand
}

.infoBox h1{
    font-weight: bold;
    font-size: $label-font-size
}

.h1 {
    font-weight: bold;
    font-size: $label-font-size
}

.h2 {
    font-size: $label-font-size

}

.h3 {
    font-size: $medium-font-size
}

.p {
    font-size: $base-font-size;
}

.infoBoxBikes {
    overflow: scroll;
    height: 90%;
    //padding-top: 5%;
    justify-content: flex-start;
    gap: 2%;
    box-sizing: border-box;
}

.infoBoxWhite {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    padding: 0% 12%;   
}

.infoBoxBike {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    padding: 5% 5%; 
    width: 70%;
    box-sizing: border-box;
}

.infoBoxBike, a:visited, a:focus, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.scrollbox {

}

.hoverButton {
    position: fixed;
    top: 85%;
}

.bikeDetails {
    padding-top: 10%;
    padding-bottom: 40%;
}

.cardLabel label{
    font-size: $base-font-size;
}

.accountDetails {

}

.accountBox {
    border-radius: $button-radius;
    background-color: white;
    text-align: center;
    width: 70%;
    padding: 2% 5%;

}

.deleteAccount {
    width: 65%;
}